@model LMS.DATA.EF.CourseCompletion

@{
    ViewBag.Title = $"{Model.Course.CourseName}";
}

<!-- page title -->
<section class="page-title-section overlay" data-background="/Content/images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@Url.Action("Index")">Course Completions</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">@ViewBag.Title</li>
                </ul>
                <p class="text-lighten">Keyser Söze.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<div>
    <h4>Course Completion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserDetail.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDetail.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCompleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseCompletionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
