@model IEnumerable<LMS.DATA.EF.CourseCompletion>

@{
    ViewBag.Title = "Course Completions";
}

<!-- page title -->
<section class="page-title-section overlay" data-background="/Content/images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="#">@ViewBag.Title</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted"></li>
                </ul>
                <p class="text-lighten">Keyser Söze.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<div class="section">
    <div class="container">
        <p>
            @Html.ActionLink("CREATE NEW", "Create", "CourseCompletions", null, new { @class = "btn btn-primary btn-sm" })
        </p>
        <table class="table data-table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Course.CourseName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCompleted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserDetail.FullName)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a class="text-color" href="@Url.Action("Details", "Courses", new { id = item.CourseID })">
                                @Html.DisplayFor(modelItem => item.Course.CourseName)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCompleted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserDetail.FullName)
                        </td>
                        <td>
                            <a class="text-color mr-2" href="@Url.Action("Edit", new { id = item.CourseCompletionID })"><i class="ti-pencil-alt"></i></a>
                            <a class="text-color mr-2" href="@Url.Action("Details", new { id = item.CourseCompletionID})"><i class="ti-info-alt"></i></a>
                            <a class="text-color mr-2" href="@Url.Action("Delete", new { id = item.CourseCompletionID })"><i class="ti-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".data-table").DataTable({
                "order": [[1, "desc"]]
            });
        });
    </script>
}