@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Roles";
}

<!-- page title -->
<section class="page-title-section overlay" data-background="/Content/images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="#">@ViewBag.Title</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted"></li>
                </ul>
                <p class="text-lighten">Manage @ViewBag.Title.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<div class="section">
    <div class="container">
        <p>
            @Html.ActionLink("CREATE NEW", "Create", "RolesAdmin", null, new { @class = "btn btn-primary btn-sm" })
        </p>
        <table class="table data-table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a class="text-color mr-2" href="@Url.Action("Edit", new { id = item.Id })"><i class="ti-pencil-alt"></i></a>
                            <a class="text-color mr-2" href="@Url.Action("Details", new { id = item.Id})"><i class="ti-info-alt"></i></a>
                            <a class="text-color mr-2" href="@Url.Action("Delete", new { id = item.Id })"><i class="ti-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".data-table").DataTable({
                "order": [[0, "asc"]]
            });
        });
    </script>
}