@model LMS.UI.MVC.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<!-- page title -->
<section class="page-title-section overlay" data-background="/Content/images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="#loginForm">@ViewBag.Title</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted"></li>
                </ul>
                <p class="text-lighten">Log in below for access to all of your courses and lessons.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->
<!-- login -->
<section class="section bg-gray" id="loginForm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="section-title">@ViewBag.Title</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <form>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="mb-3">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="row">
                            <div class="col-6 checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                            <div class="col-6 text-right">
                                @Html.ActionLink("Forget your password?", "ForgotPassword")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">LOGIN</button>
                            </div>
                            <div class="col-6 text-right">
                                @Html.ActionLink("Register a new user?", "Register")
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
