@model LMS.DATA.EF.Lesson

@{
    ViewBag.Title = "Delete Lesson";
}

<!-- page title -->
<section class="page-title-section overlay" data-background="/Content/images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@Url.Action("Index", new { id = Model.CourseID })">Our Lessons</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">@ViewBag.Title</li>
                </ul>
                <p class="text-lighten">Keyser Söze.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<div class="section">
    <div class="container">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Lesson</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.LessonTitle)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LessonTitle)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Introduction)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Introduction)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.VideoURL)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.VideoURL)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PdfFilename)
                </dt>

                <dd>
                    @*@Html.DisplayFor(model => model.PdfFilename)*@
                    <iframe src="~/Content/images/lessons/@Model.PdfFilename" style="width: 100%; height: 600px"></iframe>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Course.CourseName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course.CourseName)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <button type="submit" class="btn btn-primary">DELETE</button> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>
