@model LMS.DATA.EF.Lesson

@{
    ViewBag.Title = $"{Model.LessonTitle}";
}

<!-- page title -->
<section class="page-title-section overlay" data-background="/Content/images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@Url.Action("Index", new { id = Model.CourseID })">Our Lessons</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">@ViewBag.Title</li>
                </ul>
                <p class="text-lighten">Keyser Söze.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->
<!-- success story -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-sm-8">
                <div class="card p-5 border-warning rounded-0 hover-shadow">
                    <h2 class="section-title">@Model.LessonTitle</h2>
                    <h5>
                        @Model.Course.CourseName Lesson @Model.LessonID - 
                        @if (Model.DateViewed == new DateTime(0001, 1, 1))
                        {
                            @($"Incomplete")
                        }
                        else
                        {
                            @($"Completed: {Model.DateViewed:d}")
                        }
                    </h5>
                    <p>@Model.Introduction</p>
                    <div class="row">
                        <div class="col-lg-4 offset-lg-2 col-sm-4 position-relative success-video">
                            <a class="play-btn venobox" href="@Model.VideoURL" data-vbtype="video">
                                <i class="ti-control-play"></i>
                            </a>
                        </div>
                        <div class="col-lg-4 offset-lg-2 col-sm-4 position-relative success-video">
                            <a class="play-btn venobox" href="~/Content/images/lessons/@Model.PdfFilename" data-vbtype="iframe">
                                <i class="ti-file"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /success story -->
