@model IEnumerable<LMS.DATA.EF.Lesson>

@{
    ViewBag.Title = "Our Lessons";
}

<!-- page title -->
<section class="page-title-section overlay" data-background="/Content/images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="#">@ViewBag.Title</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted"></li>
                </ul>
                <p class="text-lighten">Keyser Söze.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->
<!-- courses -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-2">
                @Html.ActionLink("CREATE NEW", "Create", "Lessons", null, new { @class = "btn btn-primary btn-sm" })
            </div>
            <div class="col-md-6 mb-2">
                <ul class="grid">
                    <li class="active"><i class="ti-layout-grid3"></i></li>
                    <li><a href="@Url.Action("LessonsTable")"><i class="ti-view-list-alt"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- course list -->
        <div class="row justify-content-center">
            <!-- course item -->
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="card p-0 border-warning rounded-0 hover-shadow">
                        <a href="@Url.Action("Details", "Courses", new { id = item.CourseID })">
                            <h3 class="text-center mt-3">@item.Course.CourseName</h3>
                        </a>
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-8">
                                    <i class="ti-calendar mr-1 text-color"></i>
                                    <a class="text-color" href="@Url.Action("Index", "LessonViews")">
                                        @if (item.DateViewed == new DateTime(0001, 1, 1))
                                        {
                                            @($"Incomplete")
                                        }
                                        else
                                        {
                                            @($"Completed: {item.DateViewed:d}")
                                        }
                                    </a>
                                </div>
                                <div class="col-4 text-right">
                                    <a class="text-color" href="@Url.Action("Edit", new { id = item.LessonID })"><i class="ti-pencil-alt"></i></a>
                                    <a class="text-color" href="@Url.Action("Delete", new { id = item.LessonID })"><i class="ti-trash"></i></a>
                                </div>
                            </div>
                            <a href="@Url.Action("Details", new { id = item.LessonID })">
                                <h4 class="card-title text-center">@item.LessonTitle</h4>
                            </a>
                            @*<p class="card-text mb-4">
                                @item.Introduction
                            </p>*@
                            <div class="row no-gutters">
                                <a href="@Url.Action("Details", new { id = item.LessonID })" class="btn btn-primary btn-sm col-5">Details</a>
                                <a href="@Url.Action("Details", "Courses", new { id = item.CourseID })" class="btn btn-primary btn-sm col-5 ml-auto">Course</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- course item -->
        </div>
        <!-- /course list -->
    </div>
</section>
<!-- /courses -->

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LessonTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Introduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PdfFilename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LessonTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Introduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdfFilename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LessonID }) |
                @Html.ActionLink("Details", "Details", new { id = item.LessonID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LessonID })
            </td>
        </tr>
    }

</table>*@
