@model IEnumerable<LMS.DATA.EF.UserDetail>

@{
    ViewBag.Title = "User Details";
}

<!-- page title -->
<section class="page-title-section overlay" data-background="/Content/images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="#UserDetails">@ViewBag.Title</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted"></li>
                </ul>
                <p class="text-lighten">Keyser Söze.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<div class="section" id="UserDetails">
    <div class="container">
        @if (User.IsInRole("Admin"))
        {
            <p>
                @Html.ActionLink("CREATE NEW", "Create", "UserDetails", null, new { @class = "btn btn-primary btn-sm" })
            </p>
        }
        <table class="table data-table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AspNetUser.Email)
                    </th>
                    @if (User.IsInRole("Admin"))
                    {
                        <th></th>
                    }
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <a class="text-color mr-2" href="@Url.Action("Edit", new { id = item.UserID })"><i class="ti-pencil-alt"></i></a>
                                <a class="text-color mr-2" href="@Url.Action("Details", new { id = item.UserID })"><i class="ti-info-alt"></i></a>
                                <a class="text-color mr-2" href="@Url.Action("Delete", new { id = item.UserID })"><i class="ti-trash"></i></a>
                            </td>
                        }
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".data-table").DataTable({
                "order": [[1, "asc"], [0, "asc"]]
            });
        });
    </script>
}