@*@model LMS.UI.MVC.Models.LoginViewModel*@

@using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <form action="#" class="row">
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        <div class="col-12">
            @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
            <input type="text" class="form-control mb-3" name="Email" placeholder="Email" />
        </div>
        <div class="col-12">
            @*@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
            <input type="password" class="form-control mb-3" name="Password" placeholder="Password" />
        </div>
        <div class="col-12 row no-gutters">
            <div class="col-6 checkbox">
                @*@Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)*@
                <input type="checkbox" name="RememberMe" />
                <label for="RememberMe">Remember Me</label>
            </div>
            <div class="col-6 text-right">
                @Html.ActionLink("Forget your password?", "ForgotPassword")
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">LOGIN</button>
        </div>
    </form>
}