@model LMS.DATA.EF.Course

@{
    ViewBag.Title = $"{Model.CourseName}";
}

<!-- page title -->
<section class="page-title-section overlay" data-background="/Content/images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@Url.Action("Index")">Our Courses</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">@ViewBag.Title</li>
                </ul>
                <p class="text-lighten">Our courses offer aspiring actors the opportunity to gain a better understanding of the entertainment industry and how to jump-start a successful career in acting.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->
<!-- section -->
<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4">
                <!-- course thumb -->
                <img src="~/Content/images/courses/@Model.CourseImage" alt="@Model.CourseName" title="@Model.CourseName" class="img-fluid w-100">
            </div>
        </div>
        <!-- course info -->
        <div class="row align-items-center mb-5">
            <div class="col-xl-5 order-1 col-sm-6 mb-4 mb-xl-0">
                <h2>@Model.CourseName</h2>
            </div>
            <div class="col-xl-5 order-sm-3 order-xl-2 col-12 order-2">
                <ul class="list-inline text-xl-center">
                    <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                        <div class="d-flex align-items-center">
                            <i class="ti-alarm-clock text-primary icon-md mr-2"></i>
                            <div class="text-left">
                                <h6 class="mb-0">LESSONS</h6>
                                <div class="mt-1">
                                    <a class="text-color mb-0" href="@Url.Action("Index", "LessonViews")">@ViewBag.LessonViewsCount of @Model.Lessons.Count Completed</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-inline-item mr-4 mb-3 mb-sm-0">
                        <div class="d-flex align-items-center">
                            <i class="ti-calendar text-primary icon-md mr-2"></i>
                            <div class="text-left">
                                <h6 class="mb-0">COURSE</h6>
                                <div class="mt-1">
                                    <a class="text-color mb-0" href="@Url.Action("Index", "CourseCompletions")">
                                        @if (Model.DateCompleted == new DateTime(0001, 1, 1))
                                        {
                                            @($"Incomplete")
                                        }
                                        else
                                        {
                                            @($"Completed: {Model.DateCompleted:d}")
                                        }
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xl-2 text-sm-right text-left order-sm-2 order-3 order-xl-3 col-sm-6 mb-4 mb-xl-0">
                <a href="@Url.Action("Index", "Lessons", new { id = Model.CourseID })" class="btn btn-primary">Lessons</a>
            </div>
            <!-- border -->
            <div class="col-12 mt-4 order-4">
                <div class="border-bottom border-primary"></div>
            </div>
        </div>
        <!-- course details -->
        <div class="row">
            <div class="col-12 mb-4">
                <h3>About Course</h3>
                <p>
                    @Model.CourseDescription
                </p>
            </div>
            <div class="col-12 mb-4">
                <h3 class="mb-3">Requirements</h3>
                <div class="col-12 px-0">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-styled">
                                @foreach (var item in Model.Lessons)
                                {
                                    <li>
                                        <a class="text-color" href="@Url.Action("Details", "Lessons", new { id = item.LessonID })"><strong>@item.LessonTitle</strong> - 
                                        @if (item.DateViewed == new DateTime(0001, 1, 1))
                                        {
                                            @($"Incomplete")
                                        }
                                        else
                                        {
                                            @($"Completed: {item.DateViewed:d}")
                                        }
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- course details -->
    </div>
</section>
<!-- /section -->
<!-- related course -->
<section class="section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">Related Courses</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/Content/images/courses/course-1.jpg" alt="course thumb">
                    <div class="card-body">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
                            <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
                        </ul>
                        <a href="#">
                            <h4 class="card-title">Photography</h4>
                        </a>
                        <p class="card-text mb-4">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna.
                        </p>
                        <a href="#" class="btn btn-primary btn-sm">Apply now</a>
                    </div>
                </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/Content/images/courses/course-2.jpg" alt="course thumb">
                    <div class="card-body">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
                            <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
                        </ul>
                        <a href="#">
                            <h4 class="card-title">Programming</h4>
                        </a>
                        <p class="card-text mb-4">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna.
                        </p>
                        <a href="#" class="btn btn-primary btn-sm">Apply now</a>
                    </div>
                </div>
            </div>
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/Content/images/courses/course-3.jpg" alt="course thumb">
                    <div class="card-body">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>02-14-2018</li>
                            <li class="list-inline-item"><a class="text-color" href="#">Humanities</a></li>
                        </ul>
                        <a href="#">
                            <h4 class="card-title">Lifestyle Archives</h4>
                        </a>
                        <p class="card-text mb-4">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna.
                        </p>
                        <a href="#" class="btn btn-primary btn-sm">Apply now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /related course -->

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseID })
</p>
