@model LMS.DATA.EF.LessonView

@{
    ViewBag.Title = $"{Model.Lesson.LessonTitle}";
}

<!-- page title -->
<section class="page-title-section overlay" data-background="/Content/images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@Url.Action("Index")">Lesson Views</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">@ViewBag.Title</li>
                </ul>
                <p class="text-lighten">A record of the date each lesson was viewed.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<div class="section">
    <div class="container">
        <div>
            <h4>Lesson View</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserDetail.FullName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserDetail.FullName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Lesson.LessonTitle)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Lesson.LessonTitle)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateViewed)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateViewed)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.LessonViewID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
